* {
  margin: 0;
}
.blue-hover-text {
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-family: "TBCContractica-Bold";
  color: #00a3e0;
  transition: color 0.3s ease-in-out;
}
.blue-hover-text:hover {
  color: grey;
}
/* header */
header {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 85px;
  background-color: rgb(26, 30, 31);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, opacity 0.3s ease; /* Add smooth transition effects */
}
body.scrolling header {
  background-color: #222222f2;
  /* opacity: 0.8; */
}

.header-links {
  display: flex;
  gap: 2.5rem;
}
.header-container {
  height: 85px;
  /* background-color: rgb(26, 30, 31); */
  display: flex;
  width: 60rem;
  justify-content: space-between;
  align-items: center;
}
.header-container a {
  text-decoration: none;
  color: aliceblue;
  transition: color 0.3s ease;
  font-family: "TBCContractica-Regular";
  font-size: 15px;
}
.header-container a:hover {
  color: #00a3e0;
}
/* foto container */
.foto-container {
  position: relative;
  font-family: "TBCContractica-CAPS-Black";
  font-size: 20px;
  line-height: 4rem;
  height: 352px;
}

.foto-container h1 {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: left;
}
.gaige-meti {
  min-height: 464px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2b2b2b;
}
.gaige-meti p {
  color: #f4f4f4;
  max-width: 60rem;
  font-size: 28px;
  line-height: 1.6em;
  font-family: "TBCContractica-Regular";
}
.FAQ {
  display: flex;
  width: 900px;
  justify-content: space-between;
}
.saswavlo-kursebi {
  font-family: "TBCContractica-Regular";
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #161616;
  color: white;
}
.saswavlo-kursebi span {
  font-size: 24px;
  padding-top: 2.8rem;
  padding-bottom: 3.2rem;
  text-align: left;
  width: 900px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 20px;
  width: 60rem;
}
.card {
  position: relative;
  width: 18.75rem;
  height: 25rem;
  border-radius: 8px;
  border: 1px solid rgb(107, 105, 105);
  overflow: hidden;
}
.kuris-detalebi {
  position: absolute;
  bottom: 0;
  padding-bottom: 25px;
  display: flex;
  gap: 15px;
  align-items: flex-end;
  /* margin-top: 7rem; */
  margin-left: 1.5rem;

  color: #00a3e0;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}
.kuris-detalebi:hover {
  color: #075d7c;
}
/* carousel */
.carousel-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2b2b2b;
  min-height: 360px;
}
.proeqtis-partniorebi {
  width: 900px;
  text-align: left;
  padding-bottom: 50px;
  font-family: TBCContractica-Regular;
  color: white;
}
.carousel-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.carousel {
  width: 60rem;
  display: flex;
  gap: 6rem;
  justify-content: space-evenly;
  align-items: center;
}

.image-container-buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 10rem;
}
.bullets {
  display: flex;
  color: white;
  font-size: 20px;
  gap: 10px;
}
.partner {
  transition: display 0.5s ease-in-out;
  opacity: 1;
}
.fadeOut {
  opacity: 0;
}
.fadeIn {
  opacity: 1;
}
/* acordion */
.accordion {
  padding: 80px 0;
  color: white;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 330px;
}

.accordion-item {
  width: 56.25rem;
  margin-bottom: 5px;
  box-shadow: 0 2px 2px -2px gray;
}

.accordion-header {
  cursor: pointer;
  padding: 15px 0px;
  height: 50px;
  font-size: 18px;
  font-family: "TBCContractica-Regular";
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}
.accordion-text {
  color: #f4f4f4;
  line-height: 2;
  padding-bottom: 40px;
  font-family: "TBCContractica-Regular";
  font-size: 14px;
}
.arrowup {
  transform: rotate(180deg);
}

/* footer */
.footer {
  background-color: #1a1e1f;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contents {
  font-family: "TBCContractica-Book";
  color: white;
  width: 61.25rem;
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.mogvwere-button {
  border: none;
  font-size: 18px;
  /* font-family: "TBCContractica-Book"; */
  cursor: pointer;
  border-radius: 8px;
  width: 162px;
  height: 39px;
  background-color: #00a3e0;
  color: white;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}
.mogvwere-button:hover {
  background-color: grey;
  color: rgb(41, 40, 40);
}
/* caruselke */
#image-container {
  position: relative;
}

#image-container img {
  display: none;
  width: 250px;
  height: 71px;
  /* opacity: 0; */
  transition: opacity 0.4s ease-in-out;
}
/* dialouge */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey overlay */
  z-index: 999; /* Make the overlay appear below the dialog */
}

.dialog-container {
  font-family: "TBCContractica-Regular";

  padding: 50px;
  color: #8c8c8c;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 668px; /* Set width to one-third of the screen */
  background-color: #2b2b2b;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 1000;
  transition: transform 0.3s ease-in-out, display 0.3s ease-in; /* Add transition for smooth ease-in effect */
}

.close-button {
  font-family: "TBCContractica-Bold";
  font-size: 16px;
  align-self: self-end;
  border: none;
  font-size: 18px;
  /* font-family: "TBCContractica-Book"; */
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
  height: 60px;
  background-color: white;
  color: #2b2b2b;
  transition: background-color 0.3s, color 0.3s;
}
.close-button:hover {
  background-color: #00a3e0;
  color: white;
}
.wesebi-da-pirobebi {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.3s ease;
}
.wesebi-da-pirobebi:hover {
  color: rgb(173, 171, 171);
}

/* PHONE */
@media only screen and (max-width: 500px) {
  .header-container {
    width: 100vw;
  }
  .foto-container {
    width: 100vw;
    height: 217px;
    line-height: 1.5;
    overflow: hidden;
  }
  .foto-container img {
    width: 100vw;
    height: 217px;
    object-fit: cover;
    object-position: 50% 50%;
  }
  .foto-container h1 {
    font-size: 22px;
  }

  .gaige-meti p {
    font-size: 18px;
    padding: 25px;
  }
  .cards {
    padding-right: 0px;
    padding-left: 0px;

    grid-template-columns: 1fr;
    width: 100vw;
    justify-items: center;
    /* align-items: center; */
  }
  .accordion-item {
    width: 80vw;
    margin-bottom: 5px;
    box-shadow: 0 2px 2px -2px gray;
  }
  .FAQ {
    width: 80vw;
  }
  .carousel {
    flex-direction: column;
    width: 90vw;
    height: 480px;
  }
  .carousel-button {
    display: none;
  }
  .proeqtis-partniorebi {
    font-size: 18px;
    width: 100vw;
    text-align: left;
    padding: 20px;
  }
  .dialog-container {
    width: 60vw;
  }
  .saswavlo-kursebi span {
    width: 80vw;
    font-size: 28px;
    padding: 20px;
  }
  .header-links {
    display: none;
  }

  .mobile-menu-btn {
    display: block;
  }
  .nav-dialog-container {
    flex-direction: column;
  }
}

.mobile-menu-btn {
  font-size: 50px;
  font-weight: bolder;
  color: red;
  display: block;
  cursor: pointer;
}
.nav-dialog-container {
  display: none;
  position: fixed;
  text-align: right;
  top: 0;
  right: 0;
  height: 100%;
  width: 70%;
  background-color: rgb(34, 34, 34);
  color: white;
  padding: 20px;
  box-sizing: border-box;
}
.nav-dialog-container a {
  font-size: 19px;
  margin: 25px 20px;
}
.nav-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
